.tarefa-index .criar {
    float: right;
}

.tarefa-index .tarefas {
    overflow-x: auto;
    width: 100%;
}

.tarefa-index .acoes {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    min-width: 120px;
}

.tarefa-criar form, .tarefa-editar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarefa-criar .form-group, .tarefa-editar .form-group {
    width: 30%;
    margin-bottom: 10px;
}


